:root{
    --background: #011d00;
    --foreground: #01b454;
}

html{
    background-color: var(--background);
}

@font-face {
    font-family: PressStart2P;
    src: url(PressStart2P-Regular.ttf);
}


.progress-bar{
    height: 26px;
    width: 880px;

    margin: 0 auto;

    border: solid 3px var(--foreground);
}

.progress{
    height: 100%;
    width: 0%;

    background-color: var(--foreground);

    animation: progressing 3.5s;
    animation-timing-function: steps(1);
    /*animation-delay: 2s;*/
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes progressing{
    from{ width: 0%; }
    7%{ width: 7%; }
    27%{ width: 27%; }
    52%{ width: 52%; }
    60%{ width: 60%; }
    80%{ width: 80%; }
    90%{ width: 90%; }
    to{ width: 100%; }
}

.system-name{
    margin-top: 3%;
    font-size: 20px;
}



.company-name{
    margin-top: 0;
    text-align: right;
    font-size: 20px;
}


.retro-font{
    font-family: 'consolas', sans-serif;
    /*font-family: PressStart2P;*/
    color: var(--foreground);
}


.parent {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
    margin: 0 auto;
}

.div2 { 
    grid-area: 2 / 1 / 3 / 2;
    margin: 0 auto;
}
    

/*sign-in screen*/
.sign-in-background{
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
    
    position: absolute;

    display: grid;
    place-items: center;

    background-color: black;

    animation:signin 1s;
    visibility: hidden;
}

.sign-in{

    width: 500px;
    height: 200px;

    background-color: #03ab07;
    
    /*padding: 10px;*/
    display: grid;
    place-items: center;
}
.sign-in p{
    font-family: 'consolas', sans-serif;
    color: black;
    font-size: 50px;

}

@keyframes signin{
    from{ visibility: visible; }
    to{ visibility: hidden; }
}


