
.mosaic-loading {
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    padding: 1% 2%;
    position: absolute;
    box-sizing: border-box;

    display: none;

    grid-template-columns: repeat(17, 3%);/*4*/
    grid-column-gap: 3.0625%;/*2*/

    grid-template-rows: repeat(auto-fill, auto);
    grid-row-gap: 4%;
    
    background-color: var(--background);
}

.tile-wrapper{
    display: grid;
    place-items: end center;
    aspect-ratio: 0.9/1;
}

.tile{
    background-color: var(--foreground);
    height: 100%;
    width: 100%;
    animation: tile-disappearrance 0.20s;
    animation-timing-function: steps(1);
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes tile-disappearrance {
    from{ height: 100%; }
    50%{ height: 15%; }
    to{ height: 0%; }
}

.table-board{
    border-collapse: collapse;
    background-color:var(--background);
}


.table-board td{
    background-color: var(--foreground);
}