:root{
    --background: #011d00;
    --foreground: #01b454;
    --mid-green: #04451d;
    --code:  #7dc4be;
}

html{
    background-color: var(--background);
}

@font-face {
    font-family: 'Sevastopol-Interface';
    src: url('Sevastopol-Interface.ttf');
}


::-webkit-scrollbar { 
    display: none;
}

.progress-bar{
    height: 26px;
    width: 880px;

    margin: 0 auto;

    border: solid 3px var(--foreground);
}

.progress{
    height: 100%;
    width: 0%;

    background-color: var(--foreground);

    animation: progressing 3.5s;
    animation-timing-function: steps(1);
    /*animation-delay: 2s;*/
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes progressing{
    from{ width: 0%; }
    7%{ width: 7%; }
    27%{ width: 27%; }
    52%{ width: 52%; }
    60%{ width: 60%; }
    80%{ width: 80%; }
    90%{ width: 90%; }
    to{ width: 100%; }
}

.copyright{
    text-align: center;
    margin-top: 3%;
    font-size: 20px;
}



.company-name{
    margin-top: 0;
    text-align: right;
    font-size: 20px;
}

.fz30{
    font-size: 30px;
}

.retro{
    font-family: 'Sevastopol-Interface';
}

.retro-green{
    font-family: 'Sevastopol-Interface';
    color: var(--foreground);
}

.retro-white{
    font-family: 'Sevastopol-Interface';
    color: white;
}

.retro-black{
    font-family: 'Sevastopol-Interface';
    color: black;
}

.retro-code{
    font-family: 'Sevastopol-Interface';
    color: var(--code);
}

.disabled-focus{
    outline: none;
}



.loading-page {
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    position: absolute;
    box-sizing: border-box;

    place-items: center;

    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 60% 35%;
    grid-row-gap: 5%;
    }
    
.logo { 
    grid-area: 1 / 1 / 2 / 2; 
}

.progress-bar-wrapper { 
    grid-area: 2 / 1 / 3 / 2;
}
    

/*sign-in screen*/
.sign-in-background{
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
    
    position: absolute;

    display: grid;
    place-items: center;

    background-color: black;
}

.sign-in{

    width: 540px;
    height: 150px;

    background-color: #03ab07;
    
    display: grid;
    place-items: normal center;
    font-size:100px;
    font-weight: bold;

}

.sign-in-label{
    animation: blink 1s infinite;
}
@keyframes blink{
    0%, 50%{ opacity: 1; }
    51%, 100%{ opacity: 0; }
}
