:root{
    --background: #011d00;
    --foreground: #01b454;
    --mid-green: #04451d;
    --code:  #7dc4be;
    --orange: #ffc65c;
}

html{
    background-color: var(--background);
}

body{
    margin: 0;
}

@font-face {
    font-family: 'Sevastopol-Interface';
    src: url('Sevastopol-Interface.ttf');
}


::-webkit-scrollbar { 
    display: none;
}

.fz30{
    font-size: 30px;
}

.retro{
    font-family: 'Sevastopol-Interface';
}

.retro-green{
    font-family: 'Sevastopol-Interface';
    color: var(--foreground);
}

.retro-white{
    font-family: 'Sevastopol-Interface';
    color: white;
}

.retro-black{
    font-family: 'Sevastopol-Interface';
    color: black;
}

.retro-code{
    font-family: 'Sevastopol-Interface';
    color: var(--code);
}

.retro-orange{
    font-family: 'Sevastopol-Interface';
    color: var(--orange);
}

.disabled-focus{
    outline: none;
}