.menu{
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    position: absolute;
    display: none;
    background-color: var(--background);

}

.title-bar{
    background-color: var(--foreground);
    
    height: fit-content;
    width: 1300px;

    margin: 1em auto;
    padding: 5px 8px;

    display: flex;
}



.close-button{
    width: 28px;
    height: 28px;

    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

    background-color: var(--mid-green);
}

.parent {
    width: 1284px;
    height: 670px;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 260px 25px 990px;
    grid-template-rows: 670px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

        
.folders { 
    grid-area: 1 / 1 / 6 / 2; 

    display: grid;
    grid-template-columns: 20px 220px 20px;
    grid-template-rows: repeat(5, 130px);
    grid-row-gap: 5px;  
    
}

.folders-label { 
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: flex-end;
    padding: 6px;
    width: 208px;
    margin: 0 auto;
}



.div2{
    grid-area: 1 / 2 / 6 / 3;
}


.angle{
    width:22px;
    border-right: solid white 3px;
    border-bottom: solid white 3px;
    margin-top: 28.5px;
}

.step1{ height: 170px; }
.step2{ height: 305px; }
.step3{ height: 440px; }
.step4{ height: 575px; }


.div3 {
    grid-area: 1 / 3 / 6 / 4;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 505px;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}

.archive-log-list{
    overflow-y: scroll;
    scrollbar-width: none;

    display: grid;
    grid-row-gap: 10px;

    /*scroll-behavior: smooth;*/
}